{erl_opts,
 [debug_info, {src_dirs, ["test"]}]}.

{eunit_compile_opts,
 [{src_dirs, ["test"]}]}.

{provider_hooks,
 [{pre, [{compile, {lfe, compile}}]}]}.

{deps,
 [{lfe, ".*",
   {git, "git://github.com/rvirding/lfe.git",
    {tag, "0.10.1"}}},
  {ltest, ".*",
   {git, "git://github.com/lfex/ltest.git",
    {tag, "0.7.0"}}}]}.
